.panel-register-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111827;
  color: white;
  padding: 20px;
}

.panel-register-container form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
}

.panel-register-container input,
.panel-register-container select {
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.panel-register-container button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}

.panel-register-container button:hover {
  background-color: #2563eb;
}