.resume-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 600px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.upload-box {
  margin-top: 30px;
  text-align: center;
}

.upload-label {
  display: inline-block;
  padding: 15px 25px;
  background-color: #5d4037;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.resume-preview {
  margin-top: 30px;
}

.pdf-box {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 20px;
}

.resume-buttons button,
.replace-btn {
  margin-right: 10px;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
}


.viewer-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}