
.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #8cc6cc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(65, 44, 44);
  transition: 0.3s;
}

.sidebar button:hover {
  background-color: #121f21;
}

.content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 40px;
}