.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111827;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

.register-link {
  margin-top: 15px;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}